{% extends "base.html" %}
{% block title %}Auctions{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div class="conatiner p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Auction List</h2>
        </div>
        <div class="col-6 text-end">
            <a href="{% url 'auction-create' %}" class="btn btn-primary"><i class="bi bi-plus-circle"></i> &nbsp; Create New Auction</a>
        </div>
    </div>
</div>
<br />
<br />
<table class="table table-bordered table-stripped" style="width:100%">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Status
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
       {% for auction in auctions%}
           <tr>
               <td>
                  {{auction.title}}
               </td>
               <td>
                {{auction.description|truncatechars:50}}
               </td>
               <td>
                   {{auction.auction_status}}
               </td>
               <td>
                   <div class="w-100 btn-group">
                           <a href = "{% url 'auction-update' auction.id %}" class="btn btn-primary mx-2 "><i class="bi bi-pencil-square"></i>Edit</a>
                   </div>
               </td>
                <td>
                    <div class="w-100 btn-group">
                        <button class="btn btn-danger mx-2" onclick="confirmDelete({{ auction.id }})">
                            <i class="bi bi-trash-fill"></i> Delete
                        </button>
                    </div>
                </td>
           </tr> 
        {% endfor %}
    </tbody>
</table>
<script>
    function confirmDelete(categoryId) {
        if (confirm('Are you sure you want to delete?')) {
            // Redirect to the delete view or make an AJAX request to update is_active
            window.location.href = "{% url 'auction-delete' pk=0 %}".replace('0', categoryId);
        }
    }
</script>
{% endblock %}


